body{
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3{
  font-size: 1.75em;
  text-align: center;
}

i{
  padding-left: 0.5em;
}

.row{
  padding-top: 1em;
}

.table-wrapper{
  width:95%;
  max-height: 600px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.btn-place{
  width:100%;
}

.btn-girls{
  text-align: center;
  color: white;
  background-color: #ff4d88;
  border-color: #ff4d88;
}

.btn-boys{
  text-align: center;
  color: white;
  background-color: #1a75ff;
  border-color: #1a75ff;
}

.btn-modal-title{
  padding-left:20px;
}

#upperBtns {
  text-align: right;
}
@media only screen and (max-width: 992px) {
  #upperBtns {
    text-align: center;
  }
}