html {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 1.75em;
  text-align: center;
}

footer {
  color: #fff;
  background-color: #343a40;
  flex-shrink: 0;
  width: 100%;
  margin-top: 75px;
  padding-top: 15px;
  padding-bottom: 10px;
}

footer p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row {
  padding-top: 1em;
}

.navbar {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-brand {
  font-size: 1.25em;
}

.table-wrapper {
  width: 95%;
  max-height: 600px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/*
@media only screen and (max-width:768px) {
  .table-wrapper {
    width: 100%; not needed?
  }
}
*/
.btn-place {
  width: 100%;
}

.btn-girls {
  text-align: center;
  color: white;
  background-color: #ff4d88;
  border-color: #ff4d88;
}

.btn-boys {
  text-align: center;
  color: white;
  background-color: #1a75ff;
  border-color: #1a75ff;
}

.btn-modal-title {
  padding-left: 20px;
}

.fa-check {
  padding-left: 0.5em;
}

.alert {
  text-align: center;
}

#infobox {
  padding-left: 0px;
}

@media only screen and (max-width:992px) {
  #infobox {
    padding-left: 10px;
  }
}

#title {
  padding-left: 0px;
  padding-right: 0px;
  color: white;
}

#upperBtns {
  text-align: right;
  padding-left: 0px;
  padding-right: 0px;
}

@media only screen and (max-width:992px) {
  #upperBtns {
    text-align: center;
    padding-top: 5px;
  }
}